<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

  <a class="navbar-brand" routerLink="">🍿</a>
  <div class="navbar" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/actors">Actors</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLink="/movies">Movies</a>
      </li>
    </ul>
  </div>
</nav>

<br>
<br>
<br>
<div id="container">

  <router-outlet></router-outlet>
  <!-- routed views go here -->
</div>
