<div class="container">
  <h1 class="display-3">LitTrailers🔥</h1>
  <p>Welcome to LitTrailers! Find your favorite movies, and search your favorite actors-- all in one place. Click learn more to get information about all the features this website has to offer! (link doesn't work yet)</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
</div>
<br>
<div *ngFor="let actor of actors" style="display:inline;">
  <div class="card" class="mx-auto" style="float:left; max-width:300px;">
    <img class="card-img-top" src="{{actor.image}}" alt="Card image cap" class="center" style="height:250px;width:auto;padding:10px;">
    <div class="card-body">
      <h5 class="card-title" style="text-align:center;">{{actor.name}}</h5>
      <p class="card-text">{{actor.bio}}</p>
      <a routerLink="/detail/{{actor.id}}" class="btn btn-primary" style="text-align:center;">See More</a>
    </div>
  </div>
</div>
